<div class="create_memo">
  <button mat-button (click)="backTo()">
    <mat-icon svgIcon="arrow"></mat-icon>
    <p>Back</p>
  </button>
  <div class="memo_popup">
    <h2 class="title_edite">Create Memo</h2>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="fist_line">
        <div class="column">
          <label>Memo title</label>
          <input type="text" placeholder="Enter title" formControlName="memoTitle">
        </div>
        <div class="column">
          <label>Sent from</label>
          <input [readonly]="true" type="text" formControlName="sentFrom">
        </div>
        <div class="column">
          <label>Sent To</label>
          <select formControlName="sentTo">
            <option *ngFor="let option of staffList" [value]="option.name">
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="fist_line">
        <div class="column">
          <label>Action</label>
          <input type="text" placeholder="select action" formControlName="actionFilter">
        </div>
      </div>

      <div class="fist_line">
        <div class="column">
          <label>Date</label>
          <input type="date" placeholder="Enter title" formControlName="date">
        </div>
        <div class="column">
          <label>Add attachement?</label>
          <input type="text" placeholder="Yes" formControlName="attachment">
        </div>
      </div>
      <div class="fist_line">
        <div class="textarea">
          <label>Memo body</label>
          <textarea rows="10" cols="500" formControlName="message"></textarea>
        </div>
      </div>

      <div class="action">
        <button mat-button type="submit">Send Memo</button>
      </div>
    </form>
  </div>
</div>