<div class="all_memos">
   <h2 class="memos">All Memos</h2>

   <div class="scroll">
      <div class="memos_data_type">
         <nav *ngFor="let header of memoDataType">{{header.title}}</nav>
      </div>
      <div class="memos_list" *ngIf="memoList;else loading">
         <div class="memos_data" *ngFor="let list of memoList">
            <nav>{{list.id}}</nav>
            <nav>{{list.memoTitle}}</nav>
            <nav>{{list.sentFrom}}</nav>
            <nav>{{list.sentTo}}</nav>
            <nav>{{list.date}}</nav>
            <nav>{{list.attachment}}</nav>
            <nav>{{list.memoType}} <mat-icon [ngClass]="{'sent' : list.memoType === 'Sent'}"
                  svgIcon="arrow_type"></mat-icon></nav>
            <nav class="view" (click)="checkMemoView(list.id)">View more</nav>
         </div>
      </div>
   </div>
   <ng-template #loading>
      <app-loading></app-loading>
   </ng-template>

</div>