<div class="header">
  <ng-content></ng-content>
  <div class="settings">
    <mat-icon class="noti" svgIcon="notification"></mat-icon>
    <div class="user" (click)="openPopup()">
      <img src="/assets/images/header/avatar.png" alt="">
      <nav class="mainInfo">
        <p class="name">{{name}}</p>
        <p class="position">HR Office</p>
      </nav>
      <mat-icon [ngClass]="{'active': isOpenPopup}"  class="arrow" svgIcon="arrow"></mat-icon>
    </div>
  </div>

  <div class="popup" [ngClass]="{'active': isOpenPopup, 'close' : !isOpenPopup}">
    <nav class="items" (click)="useRoute('profile')">
      <mat-icon svgIcon="profile"></mat-icon>
      <p>Profile</p>
    </nav>
    <nav class="items" (click)="useRoute('settings')">
      <mat-icon svgIcon="settings"></mat-icon>
      <p>Settings</p>
    </nav> 
    <nav class="items" (click)="useRoute('logout')">
      <mat-icon svgIcon="logout"></mat-icon>
      <p>Logout</p>
    </nav>
  </div>
  <div class="overflowe" *ngIf="isOpenPopup" (click)="isOpenPopup = false"></div>
</div>