.header {
  padding: 26px 20px 26px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .settings {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .noti {
      cursor: pointer;
    }

    .user {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .mainInfo {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .name {
          color: #121212;
          font-size: 1.4rem;
          font-weight: 700;

        }

        .position {
          font-size: 1.4rem;
          color: #515151;
        }

      }

      .arrow {
        width: 16px;
        cursor: pointer;

        &.active {
          transform: rotateX(180deg);
        }
      }
    }
  }

  .overflowe {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 10;
  }

  .popup {
    position: fixed;
    z-index: 15;
    right: 20px;
    top: 90px;
    border-radius: 25px;
    width: 200px;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-500px);
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0 52px 24px;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &.close {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-500px);
    }

    .items {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      &:hover {
        p {
          background-image: linear-gradient(to right, #14ADD6, #384295);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }
      }

      p {
        color: #262626;
        font-size: 1.8rem;
      }
    }
  }
}