<section class="main" *ngIf="user">
  <app-menu-navigation></app-menu-navigation>
  <div *ngIf="pageInfo;else loading" class="content">
    <app-header [user]="user">
      <div class="welcome">
        <div class="top">
          <mat-icon *ngIf="pageInfo?.icon" svgIcon="{{pageInfo?.icon}}"> </mat-icon>
          <p class="title">{{pageInfo?.title}}</p>
        </div>
        <p class="date">{{pageInfo?.descr}}</p>
      </div>
    </app-header>
    <router-outlet></router-outlet>
  </div>
  <ng-template #loading></ng-template>

</section>