.main {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  height: 100%;
  gap: 16px;

  @media (max-width: 576px) {
    grid-template-columns: 0.25fr 1fr;
  }

  .content {
    .welcome {
      display: flex;
      flex-direction: column;
      gap: 1px;

      .title {
        color: #000000;
        font-size: 2.4rem;
        font-weight: 700;
      }

      .date{
        font-size: 1.8rem;
        color: #262626;
      }
    }
  }
}