.main {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  height: 100%;
  gap: 16px;

  @media (max-width: 720px) {
    padding-right: 10px;
  }

  @media (max-width: 576px) {
    grid-template-columns: 0.15fr 0.85fr;
    gap: 8px;

  }

  .content {
    width: calc(100% - 20px);
    .welcome {
      display: flex;
      flex-direction: column;
      gap: 1px;

      @media (max-width: 576px) {
        max-width: 160px;
      }

      .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }


      .title {
        color: var(--headerColor);
        font-size: 2.4rem;
        font-weight: 700;

        @media (max-width: 720px) {
          font-size: 2rem;
          max-width: 190px;
        }

        @media (max-width: 576px) {
          font-size: 1.8rem;
          max-width: 160px;
        }
      }

      .date {
        font-size: 1.8rem;
        color: var(--headerColorDesc);

        @media (max-width: 576px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}