<div class="navigation">
  <div [routerLink]="['/']" class="header">
    <nav class="logo">
      <img src="assets/images/global/logo.png" alt="Logo">
    </nav>
    <p class="title">LCI System</p>
  </div>

  <mat-list class="list" role="navigation">
    <div *ngFor="let url of menuNavigation" class="page" routerLink="{{url.route}}" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <mat-icon svgIcon="{{url.link}}"></mat-icon>
      <mat-list-item class="list_inner">{{url.title}}</mat-list-item>
    </div>
  </mat-list>

</div>