<section class="user-edite">
  <ng-content></ng-content>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="activePage !== 'profile' || user;else loading">
    <div class="form-avatar">
      <div class="avatar">
        <img [src]="previewUrl ? previewUrl : '/assets/images/global/upload_photo.svg'" alt="Default Image">
      </div>
      <div *ngIf="activePage !== 'profile'" class="column file">
        <label for="uploadBtn">Upload image</label>
        <input id="uploadBtn" class="select_file" type="file" (change)="onFileSelected($event)" />
      </div>
    </div>
    <div class="form-content">
      <div class="column">
        <label>First Name</label>
        <input [readOnly]="activePage ==='profile'" type="text" placeholder="Enter first name" type='text'
          formControlName="name">
      </div>
      <div class="column">
        <label>Last Name</label>
        <input [readOnly]="activePage ==='profile'" type="text" placeholder="Enter last name" type='text'
          formControlName="lastName">
      </div>
      <div class="column">
        <label>Email address</label>
        <input [readOnly]="activePage ==='profile'" type="text" placeholder="Enter email address" type='email'
          formControlName="email">
      </div>
      <div class="column" *ngIf="activePage === 'staff-create'">
        <label>Password</label>
        <input type="text" placeholder="Enter password" type='password' formControlName="password">
      </div>
      <div class="column">
        <label>Phone number</label>
        <input [readOnly]="activePage ==='profile'" type="text" placeholder="Enter phone number" type='tel'
          formControlName="number">
      </div>
      <div class="column">
        <label>Gender</label>
        <select formControlName="gender">
          <option value="Male" class="user">Male</option>
          <option value="Female" class="user">Female</option>
        </select>
      </div>
      <div class="column">
        <label>Role</label>
        <select [disabled]="activePage ==='profile'" formControlName="role">
          <option value="Admin">Admin</option>
          <option value="I.T">I.T</option>
          <option value="P.M">P.M</option>
          <option value="Agular">Angular</option>
          <option value="Q.A">Q.A</option>
          <option value="H.R">H.R</option>
          <option value="React">React</option>
          <option value="Node JS">Node JS</option>
          <option value="Backend">Backend</option>
          <option value="None">None</option>
        </select>
      </div>
      <div class="column">
        <label>Designation</label>
        <select [disabled]="activePage ==='profile'" formControlName="designation">
          <option value="Human Resources">Human Resources</option>
          <option value="Operations">Operations</option>
          <option value="Project Management">Project Management</option>
          <option value="Customer Service">Customer Service</option>
          <option value="Operation">Operation</option>
          <option value="Security">Security</option>
          <option value="Front-end">Front-end</option>
          <option value="Accounts">Accounts</option>
        </select>
      </div>
      <div *ngIf="activePage === 'profile'" class="column">
        <label>Staff ID</label>
        <input readonly="readonly" type="text" placeholder="Staff ID" type='text' formControlName="id">
      </div>
      <div class="column">
        <label>Official email</label>
        <input [readonly]="activePage === 'profile'" type="text" placeholder="Official email" type='email'
          formControlName="offMail">
      </div>
      <div class="column">
        <label>Salary$</label>
        <input [readonly]="activePage === 'profile'" type="text" placeholder="Salary" type='number'
          formControlName="salary">
      </div>
      <div class="column">
        <button *ngIf="activePage !== 'profile' && activePage !== 'staff-create'" class="save" type="submit"
          mat-button>Save</button>
      </div>
      <div class="column">
        <button *ngIf="activePage === 'staff-create'" class="save" type="submit" mat-button>Create</button>
      </div>
    </div>
  </form>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

</section>