.popup {
  position: fixed;
  inset: 0;
  z-index: 95;
  align-content: center;
  background-color: rgba($color: #000000, $alpha: 0.4);

  .content {
    border-radius: 16px;
    margin: 0 auto;
    width: 450px;
    background-color: var(--sidebarBg);
    padding: 15px;

    &_header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 2.2rem;
        font-weight: 700;
        color: var(--popupIcon);
      }


      button {
        mat-icon {
          width: 24px;

          ::ng-deep {
            svg {
              path {
                fill: var(--popupIcon);
              }
            }
          }
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      .column {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 350px;

        label {
          font-size: 1.8rem;
          color: var(--popupIcon);
        }

        select,
        input {
          border: 1px solid #afafaf;
          font-size: 1.8rem;
          border-radius: 12px;
          padding: 13px;
          background-color: var(--sidebarHover);
          color: var(--popupIcon);
        }
      }

      .action {
        button {
          background-color: transparent;
          border: 1px solid #afafaf;
          font-size: 1.8rem;
          border-radius: 12px;
          padding: 13px 23px;
        }
      }
    }
  }
}