.settings {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  background-color: #fff;
  padding: 24px 30px;
  border-radius: 22px;
  gap: 25px;

  .content {
    display: flex;
    flex-direction: column;
  }
}