body.e-312 {
  --background: #F8F9FD;
  --sidebarBg: #FFFFFF;
  --sidebarColor: #262626;
  --sidebarHover: #F2F7FF;
  --headerColor: #000000;
  --headerColorDesc: #262626;
  --notificationIcon: #121212;
  --headerTitle: #121212;
  --headerJob: #515151;
  --popupIcon: #272525;
  --popupUser: #000000;
}

body.e-451 {
  --background: #111111;
  --sidebarBg: #0D0D0D;
  --sidebarColor: #D9D9D9;
  --sidebarHover: #131313;
  --headerColor: #FFFFFF;
  --headerColorDesc: #D9D9D9;
  --notificationIcon: #FFFFFF;
  --headerTitle: #FFFFFF;
  --headerJob: #515151;
  --popupIcon: #DAD8D8;
  --popupUser: #E8E8E8;
}