<div class="payment_header">
  <div class="header_total">
    <p class="total">{{paymentVouchers?.length ? paymentVouchers?.length : 0}}</p>
    <p class="desc">Total payment vouchers</p>
  </div>

  <div class="filter_payment">
    <label>Filter payment voucher</label>
    <select (change)="setFilter($event)">
      <option value="All" class="user">All</option>
      <option *ngFor="let staffs of staffsFilter" [value]="staffs">{{staffs}}</option>
    </select>
  </div>
  <button mat-button (click)="openPaymentVouchers()">Create Payment Voucher</button>
</div>