<div class="view_maintenance_popup">
  <button mat-button (click)="backTo()">
    <mat-icon svgIcon="arrow"></mat-icon>
    <p>Back</p>
  </button>
  <div class="maintenance_popup">
    <h2 class="title_edite">Schedule Maintenance</h2>

    <div class="list" *ngIf="maintenanceView; else loading">
      <div class="column">
        <p class="title">Item name</p>
        <p class="data">{{maintenanceView.name}}</p>
      </div>
      <div class="column">
        <p class="title">Number</p>
        <p class="data">{{maintenanceView.number}}</p>
      </div>
      <div class="column">
        <p class="title">Date</p>
        <p class="data">{{maintenanceView.date}}</p>
      </div>
      <div class="column">
        <p class="title">Maintenance type</p>
        <p class="data">{{maintenanceView.maintenanceType}}</p>
      </div>
      <div class="column">
        <p class="title">Recurring type</p>
        <p class="data">{{maintenanceView.option}}</p>
      </div>
      <div class="column">
        <p class="title">Status</p>
        <select (change)="onStatusChange($event)" [ngModel]="maintenanceView.status">
          <option  class="open" value="Open">Open</option>
          <option  class="close" value="Close">Close</option>
        </select>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

</div>