.payroll {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .payroll_tab {
    background-color: var(--sidebarBg);
    border-radius: 26px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;

    nav {
      padding: 10px 0;
      color: var(--listColor);
      font-size: 1.6rem;
      cursor: pointer;

      &:hover,
      &.active {
        transition: 0.5 all ease;
        background-image: linear-gradient(to right, #14ADD6, #384295);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }
}