@use '@angular/material' as mat;
// Plus imports for other components in your app.
@include mat.core();

// Define the theme object.
$lci-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));


:root {
  @include mat.all-component-themes($lci-theme);
}

@import url('./style/light.scss');

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body {
  margin: 0;
  padding: 0;
  transition: 0.75s all ease;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--background);
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

}

.mat-calendar-body-active {
  &.highlight-date::before {
    display: none;
  }
}

.highlight-date {
  position: relative;
}

.highlight-date::before {
  content: '';
  position: absolute;
  top: 0 !important;
  left: 83% !important;
  transform: translateX(-50%);
  width: 10px !important;
  height: 10px !important;
  background-color: #47a6dd !important;
  border-radius: 50%;
}

@import url('./style/material.scss');

